
@use '@/assets/scss/lib.scss' as *;
@import '@/assets/scss/theme.scss';
@import '@/assets/scss/reset.scss';

html {
  color: getCssVar('colorText');
}

body {
  background-color: getCssVar('colorBgBase');
  transition: background-color 0.2s ease;
}
