@use '@/assets/scss/functions/variable.scss' as *;
@use '@/assets/scss/theme/default.scss' as *;
@use '@/assets/scss/theme/dark.scss' as *;

html {
  color: getCssVar('colorText');
}

body {
  background-color: getCssVar('colorBgBase');
  transition: background-color 0.2s ease;
}
