@use '@/assets/scss/functions/variable.scss' as *;
@import '@/assets/scss/theme/default.scss';
@import '@/assets/scss/theme/dark.scss';
@import '@/assets/scss/theme/common.scss';

html {
  color: getCssVar('colorText');
}

body {
  background-color: getCssVar('colorBgBase');
  transition: background-color 0.2s ease;
}
