@use '@/assets/scss/lib.scss' as *;

:root {
  --#{$namespace}-colorText: rgba(0, 0, 0, 0.88);
  --#{$namespace}-colorBgBase: #fff;
  --#{$namespace}-colorFill: rgba(0, 0, 0, 0.15);
  --#{$namespace}-colorTextSecondary: rgba(0, 0, 0, 0.65);
}


:root.dark {
  --#{$namespace}-colorText: rgba(255, 255, 255, 0.85);
  --#{$namespace}-colorBgBase: #000;
  --#{$namespace}-colorFill: rgba(255, 255, 255, 0.18);
  --#{$namespace}-colorTextSecondary: rgba(255, 255, 255, 0.65);
}

